@media (max-width: 1200px)
	.footer
		&_wrapper > div 
			width: 35%      
		&_links
			width: 335px                              
		&_social
			width: 150px

@media (max-width: 991px)
	.title
		font-size: 25px
	.suptitle
		font-size: 19px
	nav
		min-height: 43px
	.menu
		&_link
			font-size: 17px		
	.contact
		top: 44px
		&_map
			font-size: 12px
	.promo
		&_header
			font-size: 26px
		&_subheader
			font-size: 19px	
	.info
		min-height: 520px
		&_text
			margin-top: 50px
			font-size: 16px
			line-height: 40px
		&_foto
			width: 230px
	.video
		&_dance
			width: 438px
	.carousel
		&_inner 
			img
				width: 93%		
				height:	390px	
	.subscription		
		li
			font-size: 14px						
	.footer
		&_wrapper
			flex-wrap: wrap
		&_wrapper > div 
			width: 100%
			display: flex 
			justify-content: center
			margin-bottom: 20px
			&:nth-child(1)
				width: 100%
				order: 2
			&:nth-child(2)
				order: 3
			&:nth-child(3)
				width: 100%
				justify-content: center
				order: 1			

@media (max-width: 767px)
	.title
		margin: 0 auto
		margin-top: 26px
		font-size: 19px
		text-align: center
		&:before
			content: "";
			overflow: hidden
			display: inline-block
			vertical-align: middle
			width: 192px
			height: 2px
			background: #001D26
			border: solid #001D26
			border-width: 0 10px
			margin-left: -172px
			margin-right: 20px
		&:after
			content: "";
			overflow: hidden
			display: inline-block
			vertical-align: middle
			width: 192px
			height: 2px
			background:#001D26
			border: solid #001D26
			border-width: 0 10px
			margin-right: -172px
			margin-left: 20px
	.subtitle
		margin: 0 auto
		font-size: 15px
		text-align: center
		margin-bottom: 17px	
	.contact
		top: 42px
	.menu
		position: fixed
		flex-direction: column
		justify-content: center
		align-items: center
		top: 0
		left: -100%
		width: 50%
		height: 100vh
		padding: 20px 10px
		background-color: rgba(0,0,0, .8)
		transition: 0.7s all
		&_active
			left: 0
		&_item
			padding-right: 0
			border-right: none
			margin: 17px 0
		&_link
			font-size: 21px
	.contact
		&_addr
			font-size: 17px
			text-align: center
			color: #ffffff
			text-transform: uppercase
			font-weight: 400
		&_call
			display: block
			margin: 0 auto
			width: 190px
  			height: 37px
		&_phone
			margin: auto	  					
	.hamburger
		display: block
		position: absolute
		right: 10px
		top: 50%
		transform: translateY(-50%)
		width: 25px
		height: 12px
		span
			display: block
			height: 2px
			width: 100%
			background-color: #fff
			margin-bottom: 5px
			transition: 0.5s all
		&_active
			span
				margin-bottom: -2px
				&:nth-child(1)
					transform: translateY(3px) rotate(-45deg)
				&:nth-child(2)
					display: none	
				&:nth-child(3)
					transform: translateY(3px) rotate(45deg)
	.promo
		&_logo
			display: none
		&_header
			font-size: 19px
			padding-top: 300px
		&_subheader
			font-size: 14px		
	.info
		min-height: 467px
		&_text
			margin-top: 5px
			font-size: 14px
			text-align: left 
		&_foto
			width: 204px
	.video
		&_dance
			width: 512px
	.carousel
		&_inner
			img
				width: 85%
				height: 339px

@media (max-width: 575px) 
	.title
		margin: 0 auto
		margin-top: 26px
		font-size: 18px
		text-align: center
		&:before
			content: "";
			overflow: hidden
			display: inline-block
			vertical-align: middle
			width: 70px
			height: 2px
			background: #001D26
			border: solid #001D26
			border-width: 0 10px
			margin-left: -90px
			margin-right: 20px
		&:after
			content: "";
			overflow: hidden
			display: inline-block
			vertical-align: middle
			width: 70px
			height: 2px
			background:#001D26
			border: solid #001D26
			border-width: 0 10px
			margin-right: -90px
			margin-left: 20px
	.subtitle
		margin: 0 auto
		font-size: 14px
		text-align: center
		margin-bottom: 17px
	.promo
		&_header
			font-size: 18px
			padding-top: 400px
		&_subheader
			font-size: 13px
	.info
		min-height: 801px
	.video
		&_dance
			width: 315px
	.x_hidden
		margin: 0 auto		
	.carousel
		min-height: 400px
		&_inner
			img
				width: 50%
				height: 225px					
	.footer
		&_divider
			width: 310px
					


			

